/* 
- Moderate blue: hsl(238, 40%, 52%)
- Soft Red: hsl(358, 79%, 66%)
- Light grayish blue: #c3c4ef
- Pale red: hsl(357, 100%, 86%)

### Neutral

- Dark blue: hsl(212, 24%, 26%)
- Grayish Blue: hsl(211, 10%, 45%)
- Light gray: #eaecf1;
- Very light gray: #f5f6fa
- White: hsl(0, 0%, 100%)
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #eaecf1;
  /* position: relative; */
}

.container {
  display: grid;
  place-content: center;
}

.main {
  margin-top: 5rem;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}

.comment__section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3rem;
}
.comment__box {
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 2rem;
  border-radius: 1rem;
}

.number__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  padding: 1rem;
  border-radius: 0.6rem;
  background-color: #eaecf1;
}
.plus__icon,
.minus__icon {
  width: 1.5rem;
  cursor: pointer;
  /* height: 2rem; */
}
.number {
  font-size: 1.4rem;
  font-weight: 600;
  color: #5457b6;
}
.minus__icon {
}
.text__box {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 100%;
}

.text__header__box {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.user__img {
  width: 3rem;
  height: 3rem;
}
.user__name {
  font-size: 1.3rem;
  font-weight: 500;
}
.date__posted {
  font-size: 1.2rem;
}
.reply__text__box {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-left: auto;
  cursor: pointer;
}

.reply__text {
  color: #5457b6;
  font-size: 1.2rem;
}

.user__text {
  font-size: 1.4rem;
  line-height: 1.4;
}

.reply__box,
.user__reply__box {
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 2rem;
  width: 50rem;
  border-radius: 1rem;
}

.you {
  font-size: 1.2rem;
  padding: 0.3rem 0.7rem;
  background-color: #5457b6;
  color: #fff;
}
.edit__delete__box {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: auto;
}
.delete__box,
.edit__box {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
}
.delete__text {
  color: #ed6468;
  font-size: 1.2rem;
}
.edit__text {
  font-size: 1.2rem;
}
.replied__to {
  font-size: 1.4rem;
  color: #5457b6;
  font-weight: 600;
}

.user__reply {
  display: flex;
  /* align-items: center; */
}

.writing__section {
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
  padding: 2rem;
  border-radius: 1rem;
}
.writing__img {
  width: 3rem;
  height: 3rem;
}

.input__text {
  border: 1px solid #67727e56;
  outline: 0;
  padding: 1rem;
  resize: none;
}
.send {
  padding: 1rem 1.5rem;
  background-color: #5457b6;
  color: #fff;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
}

.writing__section {
  /* display: none; */
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* backdrop-filter: blur(3px); */

  /* display: none; */
  z-index: 3;
}

.delete__container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 35rem;
  padding: 2.2rem;
  background-color: #fff;
  z-index: 4;
  border-radius: 1rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.delete-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: #324152;
}
.confirm-text {
  font-size: 1.5rem;
  line-height: 1.3;
  color: #67727e;
}
.confrim__box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.no-box,
.yes-box {
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 0.6rem;
  cursor: pointer;
}
.no-box {
  background-color: #324152;
}
.yes-box {
  background-color: #ed6468;
}

.delete__container,
.overlay {
  display: none;
}

.reply__input-box {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #fff;
  display: none;
}

.replying__img {
  width: 4rem;
}
